{% extends 'base.html' %}

{% block content %}

<form action="{% url 'app01:faturamento' %}"  method="post">{%csrf_token%}


<div class="form-row">
  <div class="form-group col-md-12">
    <p>Período do encerramento</p>
    Data Inicial:&nbsp;
  <input type="date" id="data_inicial_evento" name="data_inicial_evento" data-date-format='dd-mm-yyyy' />
Data Final:&nbsp;
<input type="date" id="data_final_evento" name="data_final_evento" data-date-format='dd-mm-yyyy'  />
  </div>    
</div>

<hr>



    <p><span style="display:none">
    <input type="submit" id="submit" value="Entrar 2" >
    </span></p>


    <p>
    <button class="btn btn-success" id="bt_submit" onclick="fnSubmit();" >Executar</button>
    </p>
    <div id="msgDiv" style="display:none">Processo iniciado...</div>

<script>
function fnSubmit(){
  document.getElementById("bt_submit").disabled=true;
  document.getElementById("msgDiv").style.display = "block";
  document.getElementById("submit").click();
}

</script>

<style>
#msgDiv {
  width: 550px;
  height: 150px;
  background-color: lightblue;
  font-size: 24px;
}



</style>

   </form>

   

{% endblock %}
